    <div class="header row">
        <div class="logo col s2">
            <img class="responsive-img" src="http://forjasbogen.com/images/logo-blue.png" alt="">
        </div>
        <div class="usuario col s8">
            <!-- <a>Bienvenido: {{objetoUnico.given_name}}</a> -->
            <a (click)="cerrarSesion()" class="exit waves-effect waves-light btn">Cerrar Sesión</a>
        </div>
        <div class="usuario col s2">
            <!-- <a>{{objetoUnico.given_name}}</a> -->
            <img class="avatar" [src]="objetoUnico.picture" alt="" srcset="">
        </div>
    </div>
<!-- Card de los productos -->
<div class="row">
    <div class="card col s12 m4" *ngFor="let card of cards">
        <div class="card-image">
            {{card.descripcion}}
        </div>
        <div class="card-content">                
            {{card.codigo}}
        </div>
        <div class="card-action">
            <a [routerLink]="['/formulario/', card.id]">Realizar reporte</a>
        </div>
    </div>
</div>
