<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Importacion del css-->
    <link rel="stylesheet" href="/estilos/productos.css">
</head>
<body>
    <div class="row">
        <div class="logo col s2">
            <img class="responsive-img" src="http://forjasbogen.com/images/logo-blue.png" alt="">
        </div>
    </div>
    
    <!--Fila de los primeros productos-->
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/0/20212_main_0330.png" alt="">
                    <span class="card-title">MARRO 2.5 LBS</span>
                </div>
                <div class="card-content">
                    <p>Código:52220</p>
                </div>
                <div class="card-action">
                    <a href="#">Consultar reporte</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/0/20412_main_40bc.png" alt="">
                    <span class="card-title">MARRO 4 LBS</span>
                </div>
                <div class="card-content">
                    <p>Código:52200</p>
                </div>
                <div class="card-action">
                    <a href="#">Consultar reporte</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/0/20424_main_6771.png" alt="">
                    <span class="card-title">MARRO 4 LBS 24"</span>
                </div>
                <div class="card-content">
                    <p>Código:52202</p>
                </div>
                <div class="card-action">
                    <a href="#">Consultar reporte</a>
                </div>
            </div>
        </div>
    </div>
    
<!--Fila de los segundos productos-->
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/0/20624_main_f744.png" alt="">
                <span class="card-title">Marro 6 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52230</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/0/20616_main_d6a2.png" alt="">
                <span class="card-title">Marro 6 LBS 16"</span>
            </div>
            <div class="card-content">
                <p>Código:52232</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/0/20824_main_5c61.png" alt="">
                <span class="card-title">Marro 8 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52210</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
</div>

<!--Fila de los terceros productos-->
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/1/21024_main_538b.png" alt="">
                <span class="card-title">MARRO 10 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52240</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/1/21224_main_b3f9.png" alt="">
                <span class="card-title">MARRO 12 LBS"</span>
            </div>
            <div class="card-content">
                <p>Código:52250</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/1/21424_main_ad34.png" alt="">
                <span class="card-title">MARRO 14 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52260</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
</div>

<!--Fila de los cuartos productos-->
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/2/2/22024_main_0c6a.png" alt="">
                <span class="card-title">MARRO 20 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52270</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/3/0/30216_main_19e7.png" alt="">
                <span class="card-title">CROSS PEIN DE 2 LBS"</span>
            </div>
            <div class="card-content">
                <p>Código:52300</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/3/0/30316_main_b971.png" alt="">
                <span class="card-title">CROSS PEIN DE 3 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52310</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
</div>

<!--Fila de los quintos productos-->
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/3/2/32414_main_e6b9.png" alt="">
                <span class="card-title">MARTILLO DE BOLA 24 OZ</span>
            </div>
            <div class="card-content">
                <p>Código:52360</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/3/3/33214_main_dc13.png" alt="">
                <span class="card-title">ARTILLO DE BOLA 32 OZ"</span>
            </div>
            <div class="card-content">
                <p>Código:52370</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/3/4/34014_main_158e.png" alt="">
                <span class="card-title">MARTILLO DE BOLA 40 OZ</span>
            </div>
            <div class="card-content">
                <p>Código:52380</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
</div>

<!--Fila de los sextos productos-->
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/5/0/50636_main_89bf.png" alt="">
                <span class="card-title">TAJADERA DE 6 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52280</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/5/0/50836_main_a3d4.png" alt="">
                <span class="card-title">TAJADERA DE 8 LBS"</span>
            </div>
            <div class="card-content">
                <p>Código:52285</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img class="responsive-img" src="https://wiltontools.com/media/catalog/product/cache/0ca0ea9ac66616e29e808a123aec7ba8/3/1/31036_main_b1ca.png" alt="">
                <span class="card-title">SPIKE MAUL 10 LBS</span>
            </div>
            <div class="card-content">
                <p>Código:52330</p>
            </div>
            <div class="card-action">
                <a href="#">Consultar reporte</a>
            </div>
        </div>
    </div>
</div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>