<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div class="section container">
    <div class="row">
        <div class="logo col s6">
            <img class="responsive-img" src="http://forjasbogen.com/images/logo-blue.png" alt="">
        </div>
        <form class="formulario col s6">
            <div class="row card-panel">
                <h4>Iniciar Sesión</h4>
                <div class="input-field col s6">
                    <input type="text" id="username" class="validate" required>
                    <label for="username">Usuario</label>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <button class="btn" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>