<div class="row">
    <div class="datos col s6">
        <div class="input-field col s12">
            <input id="fecha" type="text" class="validate">
            <label for="fecha">Fecha</label>
        </div>
        <div class="input-field col s12">
            <input id="producto" type="text" class="validate">
            <label for="producto">Producto</label>
        </div>
        <div class="input-field col s12">
            <input id="piezas" type="text" class="validate">
            <label for="piezas">Piezas</label>
        </div>
    </div>
</div>
