<div class="row">
    <form novalidate [formGroup]="producto" class="datos col s6">
        <div class="input-field col s12">
            <input formControlName="fecha" id="fecha" type="text" class="validate">
            <label for="fecha">Fecha</label>
        </div>
        <div class="input-field col s12">
            <input formControlName="productos" id="producto" type="text" class="validate">
            <label for="producto">Producto</label>
        </div>
        <div class="input-field col s12">
            <input formControlName="piezas" id="piezas" type="text" class="validate">
            <label for="piezas">Piezas</label>
            <div
            *ngIf="listaproductos.length > 0">
        </div>
        </div>
        <button class="btn" type="submit" [disabled]="producto.invalid">Imprimir</button>
        <button class="btn" type="submit" (click)="resetForm()">Limpiar</button>
    </form>
    <div class="col s6">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <ng-container *ngIf="listaNoEstaVacia()">
                            <p><strong>Fecha:</strong><span class="id-field">{{producto.value.fecha | json}}</span></p>
                            <p><strong>Producto:</strong><span class="id-field">{{listaproductos[0].descripcion}}</span></p>  <!-- listaproductos[0].descripcion  para consumir la api o producto.value.productos | json para el formulario reactivo-->
                            <p><strong>Calidad:</strong><span class="id-field">{{listaproductos[0].calidadAcero}}</span></p>
                            <p><strong>Colada:</strong></p>                    
                            <p><strong>No.Barras:</strong><span class="id-field">{{listaproductos[0].noBarras}}</span><br></p>
                            <p><strong>Piezas:</strong><span class="id-field">{{producto.value.piezas | json}}</span></p>
                            <p><strong>Kgs. a cortar:</strong><span class="id-field">{{listaproductos[0].kgsMetro}}</span><br></p>
                            <p><strong>Diametro:</strong></p>
                            <p><strong>Largo de Barra:</strong><span class="id-field">{{listaproductos[0].longBarra}}</span></p>
                            <p><strong>Longitud de tocho:</strong><span class="id-field">{{listaproductos[0].longTocho}}</span></p>
                            <p><strong>Peso de tocho:</strong><span class="id-field">{{listaproductos[0].pesoTocho}}</span></p>
                            <p><strong>Piezas por barra:</strong><span class="id-field">{{listaproductos[0].piezasBarra}}</span></p>
                        </ng-container>
                    <ng-container *ngIf="!listaNoEstaVacia()">
                        <p>La lista está vacía.</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>